<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table>
	<tr>
		<td>no<input th:value="${board.boardNo}" type="text" name="boardNo" readonly="readonly"></td>
	</tr>
	<tr>
		<td>제목<input th:value="${board.boardTitle}" type="text" name="boardTitle" readonly="readonly"></td>
	</tr> 
	<tr>
		<td>컨텐츠<input th:value="${board.boardContent}" type="text" name="boardContent" readonly="readonly"></td>
	</tr>
	<tr>
		<td>사용자<input th:value="${board.boardUser}" type="text" name="boardUser" readonly="readonly"></td>
	</tr>
	<tr>
		<td>등록날짜<input th:value="${board.boardDate}" type="text" name="boardDate"readonly="readonly"></td>
	</tr>
		<th>
				<a th:href="@{/updateBoard(boardNo=${board.boardNo})}" ><button th:text="수정" class="btn btn-outline-info"></button></a>
				<a th:href="@{/deleteBoard(boardNo=${board.boardNo})}" ><button th:text="삭제" class="btn btn-outline-info"></button></a>
		</th>
	
	</table>
</form>

</body>
</html> 