<html xmlns:th="http://www.thymeleaf.org"> <!-- timeleaf사용 -->

<!--  list 화면 만들기    --> 
	<head>
 <title>Bootstrap Example</title>
 <meta charset="utf-8">	
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>	
	</head>
	<body>
	<div class="container">
		<br>
	<h2><li><a th:href="@{/index}">Board List</a></li></h2>
		<br>
		<table class="table table-hover">
		<ul class="pager">
		<li><a th:href="@{/boardAdd}" class="w3-bar-item w3-button">글 등록하기</a></li>
		<br>
		</ul>
			<tr>
				<td>boardNo</td>
				<td>boardTitle</td>
				<td>boardUser</td>
				<td>boardDate</td>
				
			</tr>
			<tr th:each="b : ${list}">
				<td th:text= "${b.boardNo}"></td>
				<td><a th:href="@{/boardDetail(boardNo=${b.boardNo})}"><span th:text = "${b.boardTitle}"></span></a></td>
				<!-- <td th:text= "${b.boardContent}"></td> -->
				<td th:text= "${b.boardUser}"></td>
				<td th:text= "${b.boardDate}"></td>
			</tr>
		</table>
		</div>
		
		<!-- 첫 페이징 작업 이해  -->
	<ul class="pager">	
<!-- 페이징작업을 위해서 처음버튼을 누르면 currentPage=0 현재 페이지를 0으로 해줬어용~ -->
	<li><a th:href="@{/boardList(currentPage=1)}"> 처음</a></li>
	
<!-- 만약에 현재페이지가 0보다 크면 list에서 currentPage-1 현재페이지에서 -1해주어서 이전에 페이지로 이동~ -->
	<li><a th:if="${currentPage > 1}" th:href="@{/boardList(currentPage=${currentPage-1})}">이전</a></li>
	
<!-- 만약 마지막페이지가 현재 페이지보다 크면 list에서 currentPage+1 현재페이지에서 +1해주어서 다음 페이지로 이동~ -->
	<li><a th:if="${lastPage > currentPage}" th:href="@{/boardList(currentPage=${currentPage+1})}">다음</a></li>
	
<!-- list에서 마지막 버튼을 누르면 lastPage로 이동하게 해줬어용~ -->
	<li><a th:href="@{/boardList(currentPage=${lastPage+1})}">끝</a></li>
	</ul>
	</body>
	
</html>
