<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body class="container">
<div class="w3-card-4">
  <div class="w3-text-grey">
    <h2>칭찬하기</h2>
   </div>
<form class="w3-container" action="/boardAddAction" method="post">
<table class="table">
	<tr>
	 	<td>
		<label><b>비밀번호</b></label>
		<input class="w3-input" type="text" name="boardPw">
		</td>
	</tr>
	<tr>
		<td>
		<label><b>제목</b></label>
		<input class="w3-input" type="text" name="boardTitle">
		</td>
	</tr>
	<tr>
		<td>
		<label><b>내용</b></label>
		<textarea class="w3-input" rows="10"  name="boardContent">
		</textarea>
			
		</td>
	</tr>
	<tr>
		<td>
		<label><b>글쓴이</b></label>
		<input  class="w3-input" type="text" name="boardUser">
		</td>
	</tr>
	
	<tr>
		<td><button th:text="추가하기" class="btn btn-outline-info"></button></td>
	</tr>
	</table>
</form>
</div>
</body>
</html> 