<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body class="container">
<div class="w3-text-grey">
    <h2>게시글 내용</h2>
</div>
<table class="table">
	<tr>
		<td>
			<input class="w3-input" th:value="${board.boardNo}" type="text" name="boardNo" readonly="readonly">
		</td>
	</tr>
	<tr>
		<td>
			<input class="w3-input"th:value="${board.boardTitle}" type="text" name="boardTitle" readonly="readonly">
		</td>
	</tr> 
	<tr>
		<td>
			<input class="w3-input" th:value="${board.boardContent}" type="text" name="boardContent" readonly="readonly">
		</td>
	</tr>
	<tr>
		<td>
			<input class="w3-input" th:value="${board.boardUser}" type="text" name="boardUser" readonly="readonly">
		</td>
	</tr>
	<tr>
		<td>
			<input class="w3-input" th:value="${board.boardDate}" type="text" name="boardDate"readonly="readonly">
		</td>
	</tr>
		<tr>
		<td>
			<a th:href="@{/updateBoard(boardNo=${board.boardNo})}" ><button th:text="수정" class="btn btn-outline-info"></button></a>
			<a th:href="@{/deleteBoard(boardNo=${board.boardNo})}" ><button th:text="삭제" class="btn btn-outline-info"></button></a>
		</td>
		</tr>
	</table>
</body>
</html> 