<html xmlns:th="http://www.thymeleaf.org"> <!-- timeleaf사용 -->

<!--  list 화면 만들기    --> 
	<head>
	</head>
	<body>
		<table border=1>
			<tr>
				<td>boardNo</td>
				<td>boardPw</td>
				<td>boardTitle</td>
				<td>boardContent</td>
				<td>boardUser</td>
				<td>boardDate</td>
				<td>수정</td>
				<td>삭제</td>
			</tr>
			<tr th:each="b : ${list}">
				<td th:text= "${b.boardNo}"></td>
				<td th:text= "${b.boardPw}"></td>
				<td th:text= "${b.boardTitle}"></td>
				<td th:text= "${b.boardContent}"></td>
				<td th:text= "${b.boardUser}"></td>
				<td th:text= "${b.boardDate}"></td>
				<td><a th:href="@{/boardUpdate(boardNo=${b.boardNo})}" th:text="수정"></a></td>
				<td><a th:href="@{/removeBoard(boardNo=${b.boardNo})}" th:text="삭제"></a></td>
			</tr>
		</table>
	<!-- <a href="/boardList?currentPage=0" ><button>처음으로</button></a>
	
	<a href="/boardList?currentPage=1" ><button>다음</button></a>
	<a href="/boardList?currentPage=100" ><button>끝으로</button></a><br/>
	<a href="/boardAdd" ><button>글등록하기</button></a> 
		 -->
	</body>
</html>
