<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="/boardUpdateAction" method="post">
<table>
	<tr>
		<td>no<input type="text" name="boardNo" th:value="${board.boardNo}" readonly="readonly"></td>
	</tr>
	<tr>
		<td>pw<input type="password" name="boardPw"readonly="readonly"></td>
	</tr>
	<tr>
		<td>제목<input type="text" name="boardTitle" th:value="${board.boardTitle}"></td>
	</tr> 
	<tr>
		<td>컨텐츠<input type="text" name="boardContent" th:value="${board.boardContent}"></td>
	</tr>
	<tr>
		<td>사용자<input type="text" name="boardUser" th:value="${board.boardUser}" readonly="readonly"></td>
	</tr>
	<tr>
		<td>등록날짜<input type="text" name="boardDate" th:value="${board.boardDate}" readonly="readonly"></td>
	</tr>
	<tr>
		<td><input type="submit" value="수정하기"></td>
	</tr>
	</table>
</form>

</body>
</html> 