<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonobono.spring.board.mapper.BoardMapper">

<!-- DB에 저장되어있는 한 행을 검색하는 쿼리 -->
<select id="selectBoard"
		parameterType="int"
		resultType="com.bonobono.spring.board.vo.Board">
		SELECT 
			board_no as boardNo, 
			board_title as boardTitle,
			board_content as boardContent,
			board_user as boardUser,
			board_date as boardDate 
		FROM board 
		WHERE board_no = #{boardNo}
</select> 

<!--<resultMap type="" id=""></resultMap>  컬럼명 일치  -->
<!-- board 테이블의 전체 리스트를 첫번째페이지부터 10개씩 내림차순으로 검색하는 쿼리 -->
<select id="selectBoardList"
		parameterType="java.util.Map"
		resultType="com.bonobono.spring.board.vo.Board">
		SELECT 
			board_no as boardNo, 
			board_title as boardTitle, 
			board_user as boardUser, 
			board_date as boardDate
		FROM board 
		ORDER BY board_no DESC 
		LIMIT #{currentPage}, #{rowPerPage}
</select>

<!-- board테이블의 전체 갯수를 카운트해주는 쿼리 -->
<select id="selectBoardCount"
		resultType="int">
		SELECT 
			COUNT(*) 
		FROM board
<!-- 다시 만들기 -->
</select>

<!-- 화면에서 입력받은 값을 DB에 저장하는 쿼리 -->
<insert id="insertBoard"
		parameterType="com.bonobono.spring.board.vo.Board">
		INSERT INTO board(
			board_pw ,
			board_title ,
			board_content ,
			board_user ,
			board_date  )
		VALUES(
			
			#{boardPw},
			#{boardTitle},
			#{boardContent},
			#{boardUser},
			now()		
		)
		
<!-- 	INSERT INTO board(board_no, board_pw, board_title, board_content, board_user, board_date, 
		VALUES(' 1','1234', 'test', 'somi', 'yang','2019_02_04')  쿼리 성공
-->
</insert>

<!-- 해당 데이터를 삭제하는 쿼리 -->
<delete id="deleteBoard"
		parameterType="com.bonobono.spring.board.vo.Board">
		DELETE FROM board 
		WHERE 
			board_no = #{boardNo} 
</delete>

<!-- nober와 password가 같다면 title, content를 수정할 수 있는 쿼리 -->
<update id="updateBoard"
		parameterType="com.bonobono.spring.board.vo.Board">
		UPDATE board 
		SET 
			board_title = #{boardTitle}, 
			board_content = #{boardContent} 
		WHERE 
			board_no=#{boardNo} 
		AND 
			board_pw= #{boardPw}
<!-- UPDATE board SET board_title='TEST', board_content='change' WHERE board_no='1' AND board_pw='1234' 쿼리성공
 --> 
</update>

</mapper>